#whiskermenu-window {
	background:  url('assets/luan-menu.jpg');
}
#whiskermenu-window button {
	background-color: transparent;
	color: #ccc;
				}
#whiskermenu-window button:hover {
	background-color: transparent;
	color: #fff;
				}
#whiskermenu-window button:checked {
	background-color: transparent;
	color: #fff;
				}
#whiskermenu-window treeview {
	background-color: transparent;
    color: #ccc;
				}
#whiskermenu-window treeview:hover {
	background-color: transparent;
	color: #fff;
}

.thunar .standard-view .view {
	background-image:  url("assets/luan-thunar.jpg");
	background-position: left top;
}

.thunar .standard-view .view * { 
	background-image: none;
	box-shadow: 0px 0px 5px black;
	opacity: 0.5;
}
